/*COMMON*/
body {
    min-width: 360px;
}

.small-container {
    width: 70%;
    max-width: 900px;
    margin: auto;
}

img {
    width: 100%;
}

.section {
    padding-top: 20px;
}

.green-section {
    background-color: #19bc9d;
    color: white;
}

.star {
    font-size: 18px;
    padding-bottom: 8px;
}

/*HEADER*/
/*top nav*/
.top_nav {
    background-color: #2d3e50;
    color: white;
    padding: 20px 0;
}

header .top_nav .brand,
header .top_nav .burger {
    font-size: 20px;
}

header .top_nav ul {
    margin: 0;
    padding: 0;
}

header .top_nav li {
    display: inline-block;
}

header .top_nav li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 15px;
}

.banner_img {
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

/*MAIN*/
.box-img {
    margin-bottom: 30px;
}

.small-container .section-intro {
    margin-top: 40px;
}

/*about*/
.about_text {
    margin-bottom: 20px;
}

.btn_download {
    color: white;
    border: 1px solid white;
    margin-bottom: 40px;
}

.btn_download:hover {
    color: #19bc9d;
    background-color: white;
}

/*contact*/
#contact-form input,
#contact-form textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    font-size: 15px;
}

#contact-form textarea {
    padding-bottom: 60px;
}

#contact-form input::placeholder {/* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2d3e50;
    opacity: 1; /* Firefox */
}

#contact-form input::-ms-input-placeholder { /* Microsoft Edge */
    color: #2d3e50;
}

#contact-form textarea::placeholder {
    color: #2d3e50;
    opacity: 1;
}

.btn_send {
    color: white;
    background-color: #19bc9d;
    margin-bottom: 40px;
}

.btn_send:hover {
    color: #19bc9d;
    background-color: white;
    border: 1px solid #19bc9d;
}

