/*COMMON*/
body {
    min-width: 360px;
}

img {
    width: 100%;
}

.section {
    padding: 20px 0;
}
.green-section {
    background-color: #19bc9d;
    color: white;
}

.star {
    font-size: 18px;
    padding-bottom: 8px;
}

/*HEADER*/
/*top nav*/
.top_nav {
    background-color: #2d3e50;
    color: white;
    padding: 20px 0;
}

header .top_nav .brand,
header .top_nav .burger {
    font-size: 20px;
}

header .top_nav ul {
    margin: 0;
    padding: 0;
}

header .top_nav li {
    display: inline-block;
}

header .top_nav li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 15px;
}

.banner_img {
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

/*MAIN*/
.box-img {
    margin-bottom: 30px;
}








